[submodule "lib/webrtc"]
	path = lib/webrtc
	url = https://webrtc.googlesource.com/src.git
[submodule "lib/socket.io-client-cpp"]
	path = lib/socket.io-client-cpp
	url = https://github.com/socketio/socket.io-client-cpp.git
